//Fonts
$font-1: 'Montserrat', Helvetica, Arial, sans-serif;
$font-2: 'Open Sans', Helvetica, Arial, sans-serif;

//Colors
$color-black: #1C2A39;
$color-grey:  #5C6A79;
$color-lt-grey: #EFEEF6;
$color-grey-btn: #EEEDF5;
$color-blue: #4C3DB2;
$color-lt-blue: #9E98DC;
$color-yellow: #F2C94C;
$color-red: #FF353A;
$color-pink: #FF8FE6;
$color-bg: #FFFFFF;

//Dimensions
$container-width: 1120px;
$products-list-width: 923px;